.main-stock {
    background: #f4f4f4;
}
 .main-stock .box-title {
    font-size: 32px;
}
.main-stock .row {
    margin-top: 50px;
}
.main-stock .box {
    padding: 0 20px;
    text-align: center;
}
.main-stock .box-photo img {
    height: 240px;
    width: 270px;
    border-radius: 50%;
}
.main-stock .box-photo-overlay {
    border-radius: 50%;
}
