.banner {
	height: 380px;
	width: 100%;
	position: relative;
	z-index: 2;
}

.banner-prev,
.banner-next {
	height: 100%;
	width: 100px;
	top: 0;
	left: 0;
	border: 0;
	position: absolute;
	background: none;
	overflow: hidden;
	text-indent: -9999px;
}

.banner-next {
	right: 0;
	left: auto;
}

.banner-prev:before,
.banner-next:before {
	content: '\f104';
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 100px;
	color: #fff;
	font-family: 'FontAwesome';
	text-indent: 0;
}

.banner-next:before {
	content: '\f105';
}

@media (max-width: 768px) {
	.banner-prev,
	.banner-next {
		max-width: 7vw;
	}
	.banner-prev:before,
	.banner-next:before {
		font-size: 10vw;
	}
}

.banner-slides-cnt {
	height: 100%;
	margin: 0 100px;
	position: relative;
}

.banner-slide {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	opacity: 0;
	z-index: 0;
	transition: 0.5s all;
}

.banner-slide.active {
	opacity: 1;
	z-index: 1;
}

.banner-slide-title {
	margin: 0 0 50px;
	font-size: 100px;
	font-weight: 300;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
}

.banner-slide-text {
	max-width: 840px;
	font-size: 36px;
	font-weight: 300;
	text-align: center;
	color: rgba(#fff, 0.6);
}

.banner-slide-btn {
	display: inline-block;
	color: #fff;
	font-size: 16px;
	font-weight: bold;
	padding: 25px;
	border: 1px solid #fff;
	text-transform: uppercase;
	text-decoration: none;
	border-radius: 40px;
	margin-top: 50px;
}

@media (max-width: 768px) {
	.banner-slide-title {
		margin: 6vh 0 3vh;
		font-size: 10vw;
	}
	.banner-slide-text {
		min-width: 65vw;
		font-size: 5vw;
	}
	.banner-slide-btn {
		font-size: 1vw;
	}
}

.banner-pagination {
	position: absolute;
	bottom: -100px;
	left: 50%;
	transform: translate(-50%, 0);
	padding: 0;
}

.banner-pagination li {
	display: inline-block;
    padding: 3px;
}

.banner-pagination button {
	height: 30px;
	width: 30px;
	background: none;
	border: 0;
	position: relative;
	overflow: hidden;
	text-indent: -9999px;
	opacity: 0.3;
}

.banner-pagination li.active button {
	opacity: 1;
}

.banner-pagination button:before {
	content: '';
	height: 10px;
	width: 100%;
	border-radius: 25px;
	position: absolute;
	top: 50%;
	left: 0;
	background: #fff;
	transform: translate(0, -50%);
}

@media (max-width: 768px) {
	.banner-pagination {
		bottom: -240px;
	}
}
