.main-map {
    height: 540px;
    font-size: 5rem;
    text-transform: uppercase;
    color: #ddd;
    background: #F9F9F9;
    display: flex;
    justify-content:center;
    align-items:center;
}
